.container{
    max-width: 960px;
    margin: 0 auto;
    
  
}
.div1{
    float: left; 
    background-color: #234872;
    width: 35.83%;
    height: 195px;
    border-radius: 2px;
}
.div2{
    float: left;
    background-color: #234872    ;
    width: 35.83%;
    height: 300px;
    border-radius: 2px;
    margin-left: -35.9%;
    margin-top: 22%;
    
}
.input1{
    border: 1px solid #ccc;
    width: 42%;
    height: 27px;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 6%;
    margin-bottom: 5%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    color: #234973;
    font-family: Prompt;
    padding: 5px 10px;
    font-size: 0.775em;
    font-weight: bold;
}

.selectgender{
    border: 1px solid #ccc;
    width: 42%;
    height: 27px;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    display: flex;
    color: #234973;
    justify-content: center;
    font-family: Prompt;
    padding: 5px 10px;
    font-size: 0.775em;
    font-weight: bold;
   
}  
label{
    margin-left: 5%;
    color:#fff;
    font-family: Prompt;
    font-size: 0.775em;
  

}
.lable1{
    margin-left: 42%;
    color:rgb(255, 255, 255);
    font-family: Prompt;
    font-size: 0.975em;
  

}

.inputjob{
    border: 1px solid #ccc;
    width: 90%;
    height: 27px;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    color: #234973;
    display: flex;
    justify-content: center;
    font-family: Prompt;
    padding: 5px 10px;
    font-weight: bold;
}
h2{ margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
    font-family: Prompt;
    color:#27A74F;
    font-size: 0.875em;
    
    
}
h3{
    font-family: Prompt;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
    color:#27A74F;
    font-size: 0.875em;
}

.inputdate
{   font-family: Prompt;
    border: 1px solid #ccc;
    width: 90%;
    height: 27px;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    color: #234973;
    padding: 5px 10px;
    font-size: 0.775em;
    font-family: Prompt;
    font-weight: bold;
}
.inputdescription
{
    border: 1px solid #ccc;
    width: 90%;
    height: 100px;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    color: #234973;
    font-family: Prompt;
    font-size: 0.775em;
    padding: 5px 10px;
    font-weight: bold;
    
}
.btnsubmit
{
    margin-left: 5%;
    margin-top:  5%;
    background-color:  #ffc107 ;
    border:none ;
    width: 22%;
    height:30px;
    cursor: pointer;
    text-align: center;
    font-family: Prompt;
    font-size: 0.775em;
    font-weight: bold;

}


